/* ============= MIXINS ============= */

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (min-width: 992px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

@mixin flex-justify-content($justify-content) {
    @extend %flex;
    justify-content: $justify-content;
}


/* ============= PLACEHOLDERS ============= */

%flex {
    display: flex;
    align-items: center;
}

%flex-column {
    display: flex;
    flex-direction: column;
}

%transition {
    transition: all 0.3s ease-in-out;
}

%fast-transition {
    transition: all 0.2s ease-in-out;
}


/* ============= VARIABLES ============= */


/* ===== FONTS ===== */

$karla: "Karla",
sans-serif;
$montserrat: "Montserrat",
sans-serif;

/* ===== FONT-SIZE ===== */

$f-1: 28px;
$f-2: 22px;
$f-3: 16px;
$f-4: 12px;

/* ===== HEADER-HEIGHT ===== */

$header-width: 180px;

/* ===== PADDING ===== */

$p-1: 5px;
$p-2: 10px;
$p-3: 15px;
$p-4: 20px;
$p-5: 25px;
// PADDING M
$pm-1: 30px;
$pm-2: 40px;
// PADDING L
$pl-1: 60px;
// PADDING XL
$pxl-1: 80px;
$pxl-2: 120px;
$pxl-3: 200px;

/* ===== MARGIN ===== */

$m-1: 5px;
$m-2: 10px;
$m-3: 15px;
$m-4: 20px;
$m-5: 25px;
// MARGIN M
$mm-1: 30px;
$mm-2: 40px;
// MARGIN L
$ml-1: 60px;
// MARGIN XL
$mxl-1: 80px;
$mxl-2: 120px;
$mxl-3: 180px;

/* ===== COLOR ===== */

// $bg-body: #EEEEEE;
// $bg-container: #FAFAFA;
// $color-text: #212121;
$bg-btn: #2196F3;
$shadow: 0px 5px 20px -5px #BDBDBD;
$shadow-btn: 0px 5px 20px -5px #1976D2;

/* ===== TRANSITION ===== */

$transition: all 0.15s ease-in-out;